<div id="bg">
  <div>
    <h1 class="text-center">WELCOME TO HOSPITAL SERVICE</h1>
  </div>
  <br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class = "navbar-nav">
    <li class = "nav-item">
      <a routerLink="" routerLinkActive="active" class="nav-link" ><h3><strong>Home</strong></h3></a>
  </li>
  &nbsp; &nbsp; &nbsp;
      <li class = "nav-item">
          <a routerLink="create-patient" routerLinkActive="active" class="nav-link" ><h4>Create Patient</h4></a>
      </li>
      &nbsp; &nbsp; &nbsp;
      <li class = "nav-item">
          <a routerLink="create-doctor" routerLinkActive="active" class="nav-link" ><h4>Create Doctor</h4></a>
      </li>
      &nbsp; &nbsp; &nbsp;
      <li class = "nav-item">
        <a routerLink="show-doctor" routerLinkActive="active" class="nav-link" ><h4>Doctor Information</h4></a>
    </li>
    &nbsp; &nbsp; &nbsp;
    <li class = "nav-item">
        <a routerLink="show-patient" routerLinkActive="active" class="nav-link" ><h4>Patient Information</h4></a>
    </li>  
  </ul>
</nav>
<div>
</div>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">    
  </div>
</footer>
</div>
